* {
  // border: red solid 1px;
}

.message-box {
  // padding: 0;
  // width: 100%;
  // overflow-y: auto;

  .message {
    // color: #000 !important;
    // border-radius: 20px;
    // display: block;
    // max-width: 50%;
    padding: 7px 13px;
    margin: 5px 0;

    &.right {
      justify-self: right;
    }
  }
}