* {
  border: red solid 1px;
}

.message-box {
  height: 475px;
  bottom: 120px;
  width: 100%;
  overflow-y: auto;
  margin-top: 30px;
}

.message {
  color: #000 !important;
  border-radius: 20px;
  display: block;
  max-width: 50%;
  padding: 7px 13px 7px 13px;
}

.right {
  justify-self: right;
}